.benefit{
  text-align: center;
}

.benefit__image-wrapper{
  display: inline-block;
  width: 8rem;
  height: 8rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.benefit__icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__text{
  text-align: center;
  padding: 0 0.75rem;
}

.benefit__title{
  font-family: $font-stack2;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.benefit__desc{
  font-family: $font-stack2;
  width: 15.5rem;
}