.btn{
  font-weight: bold;
  padding: 1.2rem 2.6rem;
  text-transform: uppercase;
  border-radius: 6.25rem;
  line-height: 1;
  border: none;

  &--theme--red{
    background: $accent-color;
    color: #fff;
  }

  &--theme--transparent{
    background: transparent;
    color:#fff;
    text-transform: none;
    font-family: $font-stack2;
  }
}