.fixed-menu{
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: $z-fixed-menu;

  @include tablets{
    display: none;
  }

  @include phones{
    display: none;
  }
}

.fixed-menu__item{
  margin-bottom: 12px;

  &:active{
    .fixed-menu__link{
      border-color: $accent-color;

      &::before{
        background: $accent-color;
      }
    }
    
  }
}

.fixed-menu__link{
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  border: 0.07rem solid transparent;
  display: block;
  position: relative;

  &::before{
    content: "";
    display: block;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background: $primary-color;
    opacity: 0.6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}