
.interactive-avatar__img{
  width: 4.7rem;
  height: 4.7rem;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;

  &--active{
    border-color: $accent-color;
  }
}
