.section{
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__title{
  font-size: 48px;
  font-weight: 700;
  font-family: $font-stack2;
  text-transform: uppercase;
  margin-bottom: 53px;
  text-align: center;

  &--white{
    color: #fff;
  }
}

