@import url(./layout/normalize.css);
html {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

html, body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  color: #292929;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.42;
  position: relative;
}

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

address {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background-color: #F5F5F5;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 100vh;
  position: relative;
}
.hero::before {
  position: absolute;
  bottom: -1.6rem;
  right: 5%;
  content: url(../img/Rectangle.png);
}

.hero__container {
  background: url(../img/hero.png) right center/50% auto no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding-top: 1.5rem;
  padding-bottom: 4.4rem;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
  }
}

.hero__title-section {
  width: 46%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
.hero__title-section::before {
  content: "";
  width: 20.1875rem;
  height: 20.1875rem;
  background: url(../img/tablets/tablet-headphones.png) center center/contain no-repeat;
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .hero__icons-section {
    display: none;
  }
}

.hero__main-title {
  font-family: "Play", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1;
  margin-bottom: 1.4rem;
}

.hero__title-desc {
  font-size: 1.4rem;
  margin-bottom: 2.25rem;
  padding-right: 10%;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0 25%;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-desc {
    padding: 0 17%;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu {
  margin: 0 30px;
  padding-top: 5px;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item {
  margin-right: 1.3rem;
  margin-bottom: 10px;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-size: 1.2rem;
  white-space: nowrap;
}

.phone-number {
  font-size: 1.2rem;
  font-family: "Play", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2.9rem;
  margin-top: 0.25rem;
}
@media screen and (max-width: 768px) {
  .phone-number {
    color: #E01F3D;
  }
}

.phone-number__text {
  white-space: nowrap;
}

.phone-number__icon-elem {
  width: 0.9rem;
  height: 0.9rem;
  margin-right: 0.4rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 1.5rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  margin-right: 1.25rem;
}

.feature__text {
  max-width: 7.2rem;
}

.btn {
  font-weight: bold;
  padding: 1.2rem 2.6rem;
  text-transform: uppercase;
  border-radius: 6.25rem;
  line-height: 1;
  border: none;
}
.btn--theme--red {
  background: #E01F3D;
  color: #fff;
}
.btn--theme--transparent {
  background: transparent;
  color: #fff;
  text-transform: none;
  font-family: "Play", sans-serif;
}

.section {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__title {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Play", sans-serif;
  text-transform: uppercase;
  margin-bottom: 3.4rem;
  text-align: center;
}
.section__title--white {
  color: #fff;
}
@media screen and (max-width: 480px) {
  .section__title {
    font-size: 2.7rem;
  }
}

.headline {
  text-align: center;
  margin-bottom: 3.9rem;
}

.headline__title {
  margin-bottom: 1.2rem;
}

.headline__subtitle {
  font-family: "Play", sans-serif;
  padding: 0 10%;
  margin: auto;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .benefits {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 768px) {
  .benefits__item {
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 1.5rem;
  }
}
.benefits__item::before {
  content: url("../img/shape.svg");
  position: absolute;
  top: 3.2rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media screen and (max-width: 768px) {
  .benefits__item::before {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .benefits__item::before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 480px) {
  .benefit__image-wrapper {
    margin-bottom: 0;
  }
}

.benefit__image {
  margin-right: 0.75rem;
}

.benefit__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__text {
  text-align: center;
  padding: 0 0.75rem;
}
@media screen and (max-width: 480px) {
  .benefit__text {
    text-align: left;
  }
}

.benefit__title {
  font-family: "Play", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.benefit__desc {
  font-family: "Play", sans-serif;
  width: 15.5rem;
}
@media screen and (max-width: 480px) {
  .benefit__desc {
    width: 18.5rem;
  }
}

.benefits-section {
  position: relative;
}
.benefits-section::before {
  content: url(../img/decoration.png);
  position: absolute;
  bottom: -1.4rem;
  left: 5%;
}

.reviews__display {
  background: #F8FAF9;
  padding: 2.75rem 6.7rem 2.7rem 2.7rem;
  overflow: hidden;
  position: relative;
}
.reviews__display::before {
  content: "";
  display: block;
  width: 5.25rem;
  height: 5.25rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -4.1rem;
}

.reviews__display--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display--inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reviews__avatar {
  width: 15.9rem;
  height: 16.5rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 8.125rem;
    height: 8.125rem;
    margin-bottom: 2rem;
  }
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 1.25rem;
}

.reviews__title {
  font-family: "Play", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.75rem;
}
@media screen and (max-width: 768px) {
  .reviews__title {
    margin-bottom: 1rem;
  }
}

.reviews__text {
  font-family: "Play", sans-serif;
  margin-bottom: 2.4rem;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    margin-bottom: 1rem;
  }
}

.reviews__authors {
  font-family: "Play", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}

.interactive-avatar__img {
  width: 4.7rem;
  height: 4.7rem;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar__img--active {
  border-color: #E01F3D;
}

.reviews-section {
  position: relative;
}
.reviews-section::before {
  content: url(../img/circle-decor.png);
  position: absolute;
  bottom: -1.5rem;
  left: 5%;
}

.orders-section {
  background: url(../img/background-order.png);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.75rem;
}
.form__col:last-child {
  margin-right: 0;
}
.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.7rem;
}
.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1rem;
}
.form__block:last-child {
  margin-right: 0;
}
.form__input {
  width: 100%;
  border: 0.2rem solid transparent;
  padding: 1.2rem 4.25rem 1.25rem 0.75rem;
  border-radius: 0.25rem;
}
.form__input:focus {
  border-color: #E01F3D;
  outline: none;
}
.form__input--textarea {
  width: 28.125rem;
  height: 9.5rem;
  resize: none;
}

@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0% 18%;
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0%;
  }
}

.form__title {
  font-family: "Play", sans-serif;
  color: #fff;
  margin-bottom: 0.4rem;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .form__controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .form__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .form__input {
    height: 2.25rem;
  }
}

@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: auto;
    width: 29.125rem;
  }
}
@media screen and (max-width: 480px) {
  .form__input--textarea {
    width: 30.75rem;
  }
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 1rem;
}
.radio:last-child {
  margin-right: 0;
}
.radio--checkbox {
  margin-bottom: 2.9rem;
}
.radio--checkbox .radio__visible {
  border-radius: 0.25rem;
}
.radio--checkbox .radio__visible::before {
  content: "";
  background: url(../img/checked.png) center center no-repeat;
}
.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}
.radio__visible {
  width: 26px;
  height: 26px;
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-right: 10px;
}
.radio__visible:last-child {
  margin-right: 0;
}
.radio__visible::before {
  content: "";
  width: 1.7rem;
  height: 1.7rem;
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.radio__title {
  font-family: "Play", sans-serif;
  color: #fff;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 12px;
}
.fixed-menu__item:active .fixed-menu__link {
  border-color: #E01F3D;
}
.fixed-menu__item:active .fixed-menu__link::before {
  background: #E01F3D;
}

.fixed-menu__link {
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  border: 0.07rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background: #292929;
  opacity: 0.6;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hamburger {
  width: 26px;
  height: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #292929;
  height: 4px;
  border-radius: 10px;
}

.map-section {
  position: relative;
}

.map__img {
  display: block;
}

.map__img-icon {
  display: block;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  position: absolute;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5.375rem;
  color: #292929;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 1.25rem;
}
.footer__col--left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__col--left {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer__col--right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 480px) {
  .contact {
    margin-bottom: 1.125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact__info {
  font-size: 1.125rem;
  font-family: "Play", sans-serif;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social__item {
  height: 1.875rem;
  width: 1.875rem;
  border-radius: 50%;
  margin-right: 0.625rem;
}